/* 모달 네모 박스 */
.detail-modal-content {
  width: 90vw !important;
  max-width: 1200px !important;
  height: 90vh !important;
  padding: 2rem !important;
  overflow: hidden;
}

/* 모바일에서 풀스크린으로 */
@media (max-width: 768px) {
  .detail-modal-content {
    width: 100vw !important;
    height: 100vh !important;
    padding: 1rem !important;
    border-radius: 0 !important;
  }
}

/* 모달 내부 */
.detail-modal-body {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  overflow: auto;
  margin: 0 auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.detail-modal-body::-webkit-scrollbar {
  display: none;
}

/* 모달 닫기 버튼 */
.detail-modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: 3px solid #505050;
  padding: 0;
  cursor: pointer;

  width: 32px;
  height: 32px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.8rem;
  font-weight: 700;
  color: #505050;

  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.detail-modal-close-button:hover {
  background-color: #f0f0f0;
  border-color: #999;
  color: #000;
}

.detail-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.detail-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.detail-subtitle {
  color: #555;
  margin: 0.2rem 0;
}
.detail-period {
  color: #888;
  font-size: 1.1rem;
}

/* detail meta */
.detail-meta {
  margin: 5rem 0;
}
.detail-meta-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.6rem 0;
  font-size: 1.4rem;
  flex-wrap: wrap;
}
.detail-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}
.detail-skill {
  padding: 0.2rem 0.5rem;
  border: 1px solid #9958a4;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 700;
  color: #9958a4;
}
.detail-link {
  display: inline-block;
  margin-right: 0.5rem;
  color: rgb(57, 57, 57);
  font-size: 1.4rem;
}
.detail-link:hover {
  text-decoration: underline;
}
.detail-description {
  margin-top: 30px;
}
