.corea-screen-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.corea-screen-content_label {
  font-size: 1.4rem;
  font-weight: 700;
}

.imageNumber {
  position: absolute;
  right: 0;
  bottom: 24px;

  display: inline-flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

  padding: 3px 12px;
  border-radius: 50px;

  color: #dadada;

  background: rgb(27 28 30 / 80%);
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 50%);

  font-size: 1.2rem;
}
