.contact {
  position: relative;
  text-align: center;
}

.contact-title {
  position: relative;
  z-index: 1;
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  border-bottom: 0.5rem solid #f7c3c6;
  display: inline-block;
  margin-bottom: 2rem;
}

.contact-list {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.contact-button {
  border: 2px solid #ff7373;
  padding: 1rem;
  border-radius: 10px;
}
