.experience {
  position: relative;
  text-align: center;
  background: #fbf4f7;
}

.experience ul {
  list-style: disc;
  padding-left: 1.5rem;
}
li {
  margin-bottom: 0.5rem;
}

.experience-title {
  position: relative;
  z-index: 1;
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  border-bottom: 0.5rem solid #e4c8d3;
  display: inline-block;
  margin-bottom: 2rem;
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 2rem 0;
  justify-content: center;
}
